

@import url(../../css/header.css);
@import url(../../css/footer.css);
@import url(../../css/jost.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), /* Capa de degradado */
                url(../../navidad/fondo.webp);
    background-attachment: fixed;
}

/*Principio sobre nosotros*/
.que-es {
    margin: 5% 10%;
    
}

.que-es h4 {
    font-size: 4vw;
    font-family: "Jost";
    color: white;
    background: url(../../navidad/fondogaleria.webp);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center;
    background-size: contain;

}
.que-es p {
    color: #e3e3e3;
    font-family: "Jost";
    font-size: 2vw;
    margin-top: 2%;
}
.direccion{
    margin: 10%;
}
.direccion h4 {
    font-size: 4vw;
    font-family: "Jost";
    color: white;
    font-weight: 300;
    margin-bottom: 2%;
    background: url(../../navidad/fondogaleria.webp);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center;
    background-size: contain;
}
.direccion p {
    color: #e3e3e3;
    font-family: "Jost";
    font-size: 2vw;
}
.mapa-ini{
    width: 100%;
    height: 40vh;
}

.redes-sociales-div{
    margin:10%;
}
.redes-sociales-div h4{
    font-size: 4vw;
    font-family: "Jost";
    color: white;
    font-weight: 300;
    text-align: center;
}
.redes-sociales{
    margin: 5% 10%;
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20.8vw;
    row-gap: 1.8rem;
}
.redes-sociales img{
    width: 7vw;
    align-self: center;
}


/*fin*/




@media all and (max-width:1050px){
    .que-es h4, .direccion h4, .redes-sociales-div h4 {
        font-size: 5vw;
    }
}
@media all and (max-width:850px){
    .que-es p, .direccion p {
        font-size: 2.5vw;
    }
}

@media all and (max-width:600px){
    .que-es h4, .direccion h4, .redes-sociales-div h4 {
        font-size: 8vw;
    }

    .que-es p, .direccion p {
        font-size: 4.5vw;
    }
    .que-es{
        margin: 6% 10%;
    }
    .direccion, .redes-sociales-div {
        margin: 15% 10%;
    }
    .redes-sociales {
        margin: 5% 0%;
    }
    .redes-sociales img {
        width: 11.6vw;
    }
}