@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@import url(../../css/header.css);
@import url(../../css/footer.css);
@import url(../../css/jost.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Conseguimos que las cajas no se desborden*/
}

main {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), /* Capa de degradado */
                url(../../navidad/fondo.webp);
    background-attachment: fixed;
}


/*Inicio contacto*/
.todo {
    display: flex;
    flex-direction: column;
    margin: 2% 10%;
}
.contacto-gmail {
    display: flex;
    margin: 1% 0;
}
.contacto-gmail img {
    width: 5vw;
    height: fit-content;
    align-self: center;
}
.contacto-gmail h3 {
    font-size: 4vw;
    font-family: "Jost";
    align-self: center;
    color: white;
    margin-left: 3%;
    background: url(../../navidad/fondogaleria.webp);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-position: center;
    background-size: contain;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.8vw;
    row-gap: 1.8rem;
    padding: 3vw;
    border: 3px solid #da251c;
    box-shadow: 0px 0px 20px white;
    animation: cambioborde 4s infinite;
    background: url(../../navidad/OHPG5M0.webp);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
}

.form-class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3.8vw;
    row-gap: 1.8rem;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin: 2% 0;
    width: 100%;
}
.form-group input {
    width: 100%;
    padding: 3%;
    font-size: 1.5vw;
    color:  rgb(223, 223, 223);
    margin-top: 2%;
    border: 1px solid rgb(231, 231, 231);
    background-color: transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input:focus, .form-group-pedido textarea:focus {
    border: 1px solid #da251c;
    outline: 1px solid #da251c;
}
.form-group p {
    font-size: 2vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.form-group-pedido textarea {
    padding: 3%;
    font-size: 1.5vw;
    margin-right: 2%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    color: white;
    border:1px solid rgb(231, 231, 231);;
    

}
.form-submit {
    color: #da251c;
    padding: 1vh 2vw;
    border: 0;
    font-family: 'Jost';
    font-size: 2.5vw;
    background-color: white;
    width: fit-content;
    justify-self: center;
    box-shadow: 0px 0px 20px #da251c;
}
.form-submit:hover {
    color: #00ff6e;
    box-shadow: 0px 0px 20px #00ff6e;
}

/*Final*/
/*Contacto otras vias*/
.contacto-otros {
    margin-top: 2%;
    display: flex;
}
.contacto-otros p {
    font-size: 2.5vw;
    font-family: "Jost";
    color: white;
    width: fit-content;
}
.redes-contacto{
    align-self: center;
}
.redes-contacto img {
    width: 3vw;
    margin-left: 2vw;
}
.redes-contacto img:hover {
    transform: scale(1.25); /* Escala el elemento al hacer hover */
}




@media all and (max-width:850px){
    .contacto-gmail img {
        width: 7vw;
    }
    .contacto-gmail h3 {
        font-size: 7vw;
    }
    .form-group p {
        font-size: 2.5vw;
    }
    .form-group input{
        font-size: 2vw;
    }
    .form-group-pedido{
        font-size: 2vw;
    }
    .contacto-otros p {
        font-size: 4.5vw;
    }
    .redes-contacto img {
        width: 5vw;
    }
    .contacto-otros {
        margin: 5% 0;
    }
    .form-group-pedido textarea {
        padding: 3%;
        font-size: 2vw;
    }
}

@media all and (max-width:600px){
    .form{
        margin-top: 2vw;
        padding: 4vw;
        row-gap: 0.8rem;
    }
    .form-group p {
        font-size: 4vw;
    }
    .form-group input{
        font-size: 3vw;
    }
    .form-group-pedido{
        font-size: 3vw;
    }
    .form-submit{
        font-size: 4vw;
    }
    .form-group-pedido textarea {
        font-size: 3vw;
    }
    .contacto-otros {
        margin: 10% 0;
    }
    .form-class {
        grid-template-columns: 1fr;
        row-gap: 0.8rem;
    }
    .contacto-otros p {
        font-size: 5vw;
    }
}

@keyframes cambioborde {  
    0% { border: 3px solid #da251c; }
     50% { border: 3px solid #00ff6e;}
     100% { border: 3px solid #da251c;}
}